{# templates/blocks/multiple_links.html #}
{% load wagtailimages_tags wagtailcore_tags %}
<div class="link-block">
    {% if value.title %}
        <div class="row mt-4">
            <div class="col">
                <p class="h4">{{ value.title }}</p>
            </div>
        </div>    
    {% endif %}

    <div class="row bg-light pt-3">
        {% for page in value.links %}
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class="card h-100 d-flex flex-column">
                    {% with recipe=page.specific %}
                        {% with backstory_image=recipe.get_main_image.image %}
                            {% if backstory_image %}
                                {% image backstory_image fill-320x240 as img %}
                                <img src="{{ img.url }}" alt="{{ recipe.title }}" class="card-img-top img-fluid">
                            {% endif %}
                        {% endwith %}
                        <div class="card-body flex-grow-1">
                            <p class="h4 card-title">
                                <a href="{% pageurl recipe %}" class="text-dark">{{ recipe.title }}</a>
                            </p>                         
                            <p class="h6 card-subtitle my-1 ">
                                Kategorie: {{ recipe.get_category.title }}
                            </p>
                            <p class="card-text">{{ recipe.introduction }}</p>
                        </div>
                        <div class="card-footer bg-secondary text-white text-center d-flex align-items-center justify-content-center">
                            <p class="m-0">Zveřejněno: {{ recipe.date_published }}</p>
                        </div>
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>