{# templates/blocks/multiple_links.html #}
{% load wagtailimages_tags wagtailcore_tags %}
<div class="link-block">
    {% if value.title %}
        <h3 class="mt-5 mb-4">{{ value.title }}</h3>
    {% endif %}

    <div class="row listing-grid">
        {% for page in value.links %}
            {% with recipe=page.specific %}
                <div class="col-md-6 col-xl-4">
                    <article class="listing-card">
                        <a href="{% pageurl recipe %}" class="listing-card__link">
                        {% with backstory_image=recipe.get_main_image.image %}
                            {% if backstory_image %}
                                <figure class="listing-card__media">
                                    {% image backstory_image fill-640x400 as img %}
                                    <img src="{{ img.url }}" alt="" width="640" height="400" loading="lazy">
                                </figure>
                            {% endif %}
                        {% endwith %}
                        <div class="listing-card__body">
                            <p class="eyebrow">{{ recipe.get_category.title }}</p>
                            <h4>{{ recipe.title }}</h4>
                            <p class="card-text">{{ recipe.introduction }}</p>
                            <p class="card-meta mt-auto mb-0 pt-3">{{ recipe.date_published|date:"j. n. Y" }}</p>
                        </div>
                        </a>
                    </article>
                </div>
            {% endwith %}
        {% endfor %}
    </div>

</div>
