# Ignorování .pyc souborů
*.pyc
__pycache__/

# Ignorování log souborů
*.log

# Ignorování virtuálního prostředí
venv/
ENV/
env/
.upgrade/
.upgrade-backups/

# Ignorování nastavení editorů
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorování souborů systému
.DS_Store
Thumbs.db

# Ignorování databázového souboru
db.sqlite3

# Ignorování nahrávání zabezpečených dat
.env

# Ignorování statických souborů
/mysite/static/
/mysite/media/

# Ignorování souboru s vývojovým nastavením
dev.py

# Django migrace patří do verzovaného zdrojového kódu.
