{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block header %}
    {% include 'blog/blog_navbar.html' with page=blog_index %}
{% endblock %}

{% block content %}
    <div class="container bg-light py-2 my-4">
        <div class="text-center">
            <p class="h1">{{ page.title }}</p>
            <p class="text-muted">{{ page.date }}</p>
            <p class="h6">{{ page.intro|richtext }}</p>   
        </div>
        <div class="row text-center">
            {% with tags=page.tags.all %}
                {% if tags %}
                    <hr>
                    <div class="col">
                        {% for tag in tags %}
                            <a href="{% slugurl 'blog' %}?tag={{ tag }}" class="btn btn-sm btn-outline-secondary rounded-pill m-1">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        {% with page.main_image as main_image %}
            {% if main_image %}
                {% image main_image fill-1024x768 as img %}
                <img src="{{ img.url }}" alt="{{ page.title }}" class="img-fluid my-4 d-block mx-auto">
            {% endif %}
        {% endwith %}

        <div>{{ page.body|richtext }}</div>
        
        <div class="text-center">
            {% with gallery_items=page.gallery_images.all %}
                {% if gallery_items %}
                    <hr>
                    <div class="my-4">
                        <p class="h3 mb-4">Galerie obrázků:</p>
                        <div class="row">
                            {% for item in gallery_items %}
                                <div class="col-md-4 mb-4">
                                    {% image item.image fill-320x240 as img %}
                                    <img src="{{ img.url }}" alt="{{ item.caption }}" class="img-fluid">
                                    <p>{{ item.caption }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            {% with authors=page.authors.all %}
                {% if authors %}
                    <hr>
                    <div class="my-4">
                        <p class="h3">Vytvořil:</p>
                        <ul class="list-unstyled d-flex flex-row flex-wrap justify-content-center">
                            {% for author in authors %}
                                <li class="mx-4 my-2">
                                    {% image author.author_image fill-40x60 as img %}
                                    <img src="{{ img.url }}" alt="{{ author.name }}" class="mr-3 img-fluid">
                                    <div>{{ author.name }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            <p class="my-4">
                <a href="{{ page.get_parent.url }}" class="btn btn-outline-dark">Návrat do seznamu blogů</a>
            </p>
        </div>        
    </div>
{% endblock %}
