{% load static wagtailcore_tags wagtailimages_tags navigation_tags %}

{% get_site_root as site_root %}
<div class="container bg-dark">
    <div class="row">
        <nav class="navbar navbar-sm navbar-expand-xl navbar-dark bg-dark">
            <div>
                <span class="navbar-brand mb-0 me-0">
                    <a href="{% pageurl site_root %}">
                        <img src="{% static 'images/logo-32x32.webp' %}" alt="Logo" width="32" height="32" class="d-inline-block align-text-top me-2">
                    </a>
                </span>        
            </div>

            {# Tlačítko pro rozbalení menu na mobilu #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {# Menu položky + vyhledávání #}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {# Dynamické menu #}                
                {% with menu_items=site_root.get_children.live.in_menu.specific %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for item in menu_items %}
                            {% with children=item.get_children.live.in_menu %}
                                {% if children %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle {% if request.path|startswith:item.url %}active{% endif %}" href="{{ item.url }}" data-bs-toggle="dropdown">
                                            {{ item.subtitle }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item {% if request.path == item.url %}active{% endif %}"  href="{{ item.url }}">
                                                    {{ item.subtitle }} ({{ item|get_grandchildren }})
                                                </a>
                                            </li>                                            
                                            <li><hr class="dropdown-divider"></li>                                            
                                            {% for child in children %}
                                                <li>
                                                    <a class="dropdown-item {% if request.path|startswith:child.url %}active{% endif %}" href="{{ child.url }}">
                                                        {{ child.title }} ({{ child.get_children.live.count }})
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.path == item.url %}active{% endif %}" href="{{ item.url }}">
                                            {{ item.subtitle }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </ul>
                {% endwith %}

                {# Vyhledávání napravo #}                
                <form action="{% url 'search' %}" method="get" class="py-1">
                    <div class="input-group">
                        <input type="text" id="search-query" name="query" class="form-control form-control-sm" placeholder="Copak to tu máme?" {% if search_query %} value="{{ search_query }}"{% endif %}>
                        <button class="btn btn-sm btn-outline-light" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    {# Hlavní obrázek menu #}
    <div class="row">
        <div class="col text-center">
            {% if page.image %}
                {% if request.path == site_root.url %}
                    {% image page.image max-1280x1280 as img %}
                {% else %}
                    {% image page.image max-1024x1024 as img %}
                {% endif %}
                <img src="{{ img.url }}" alt="{{ page.title }}" class="img-fluid mb-3 d-block mx-auto">
            {% endif %}
        </div>
    </div>
</div>
