{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block header %}
    {% include 'includes/navbar.html' with home_nav="active" %}
{% endblock %}

{% block content %}
    <div class="container mb-4">
        <div class="row">
            <div class="col text-center bg-light mt-2 py-2">
                <p class="h1">{{ page.title }}</p>
                <p>{{ page.body|richtext }}</p>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div id="customCarousel" class="carousel slide col-md-8" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="0" class="active bg-light" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="1" class="bg-light" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="2" class="bg-light" aria-label="Slide 3"></button>
                </div>            
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <div class="text-center">
                            <a href="{{ blog_index.url }}" class="text-dark text-decoration-none">
                                {% if blog_index %}
                                <p class="h2">{{ blog_index.title }}</p>
                                <div class="intro">{{ blog_index.intro|richtext }}</div>
                                {% if blog_index.image %}
                                    {% image blog_index.image fill-800x400 as img %}
                                    <img src="{{ img.url }}" alt="{{ blog_index.title }}" class="img-fluid">
                                {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <div class="text-center">
                            <a href="{{ recipe_index.url }}" class="text-dark text-decoration-none">
                                {% if recipe_index %}
                                <h2>{{ recipe_index.title }}</h2>
                                <div class="intro">{{ recipe_index.intro|richtext }}</div>
                                {% if recipe_index.image %}
                                    {% image recipe_index.image fill-800x400 as img %}
                                    <img src="{{ img.url }}" alt="{{ recipe_index.title }}" class="img-fluid">
                                {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <div class="text-center">
                            <a href="{{ coding_index.url }}" class="text-dark text-decoration-none">
                                {% if coding_index %}
                                <h2>{{ coding_index.title }}</h2>
                                <div class="intro">{{ coding_index.intro|richtext }}</div>
                                {% if coding_index.image %}
                                    {% image coding_index.image fill-800x400 as img %}
                                    <img src="{{ img.url }}" alt="{{ coding_index.title }}" class="img-fluid">
                                {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#customCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark rounded-circle p-3 align-self-start mt-3" aria-hidden="true"></span>
                    <span class="visually-hidden">Předchozí</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark rounded-circle p-3 align-self-start mt-3" aria-hidden="true"></span>
                    <span class="visually-hidden">Další</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
