{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ page.title }}</h1>
                {{ page.body|richtext }}
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-md-6 mb-4 text-center">
                {% if blog_index %}
                    <h2>{{ blog_index.title }}</h2>
                    <div class="intro">{{ blog_index.intro|richtext }}</div>
                    {% if blog_index.image %}
                        {% image blog_index.image fill-800x400 as img %}
                        <a href="{{ blog_index.url }}">
                            <img src="{{ img.url }}" alt="{{ blog_index.title }}" class="img-fluid">
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-6 mb-4 text-center">
                {% if cookbook_index %}
                    <h2>{{ cookbook_index.title }}</h2>
                    <div class="intro">{{ cookbook_index.intro|richtext }}</div>
                    {% if cookbook_index.image %}
                        {% image cookbook_index.image fill-800x400 as img %}
                        <a href="{{ cookbook_index.url }}">
                            <img src="{{ img.url }}" alt="{{ cookbook_index.title }}" class="img-fluid">
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
