{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-12 text-center bg-light py-4">
                <p class="h1">{{ page.title }}</p>
                <p>{{ page.body|richtext }}</p>
            </div>
        </div>
        <br>
        <div class="row bg-light">
            <div class="col-md-6 mb-4 text-center">
                {% if blog_index %}
                    <h2>{{ blog_index.title }}</h2>
                    <div class="intro">{{ blog_index.intro|richtext }}</div>
                    {% if blog_index.image %}
                        {% image blog_index.image fill-800x400 as img %}
                        <a href="{{ blog_index.url }}">
                            <img src="{{ img.url }}" alt="{{ blog_index.title }}" class="img-fluid">
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-6 mb-4 text-center">
                {% if recipe_index %}
                    <h2>{{ recipe_index.title }}</h2>
                    <div class="intro">{{ recipe_index.intro|richtext }}</div>
                    {% if recipe_index.image %}
                        {% image recipe_index.image fill-800x400 as img %}
                        <a href="{{ recipe_index.url }}">
                            <img src="{{ img.url }}" alt="{{ recipe_index.title }}" class="img-fluid">
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
