{% load wagtailcore_tags wagtailimages_tags %}


<div class="row pb-2">
    <div class="col">
        <p class="h1 my-4">{{ page.title }}</p>
        {% if page.date_published %}
            <p class="text-muted">{{ page.date_published }}</p>
        {% endif %}            
        {% if page.subtitle %}
            <p class="h4 text-muted">{{ page.subtitle }}</p>
        {% endif %}
    </div>
</div>
<div class="row text-center">
        {% with tags=page.tags.all %}
        {% if tags %}
            <hr>
            <div class="col">
                {% for tag in tags %}
                    <a href="{% slugurl 'recepty' %}?tag={{ tag }}" class="btn btn-sm btn-outline-secondary rounded-pill m-1">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
<div class="row mt-4">
    <div class="col">
        <p class="h3">Úvod</p>
        <p>{{ page.introduction }}</p>
    </div>
</div>

