{% extends "base.html" %}
{% load static %}
{% load navigation_tags wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">
{% endblock %}

{% block body_class %}template-recipepage{% endblock %}

{% block header %}
    {% include 'includes/navbar.html' with page=recipe_index_page recepty_nav="active" %}
{% endblock %}


{% block content %}
<div class="container pt-0 pb-4 bg-light">

    <div class="row pb-2">
        <div class="col">
            <p class="h1 my-4">{{ page.subtitle }}</p>
            {% if page.date_published %}
                <p class="text-muted">{{ page.date_published }}</p>
            {% endif %}            
            <p class="h4 text-muted">Kategorie: {{ active_category }}</p>
        </div>
    </div>

    <div class="row text-center">
            {% with tags=page.tags.all %}
            {% if tags %}
                <hr>
                <div class="col">
                    {% for tag in tags %}
                        <a href="{% slugurl 'recepty' %}?tag={{ tag.slug }}" class="btn btn-sm btn-outline-secondary rounded-pill m-1">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <div class="row mt-4">
        <div class="col">
            <p class="h3">Úvod</p>
            <p>{{ page.introduction }}</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <p class="h3">Příběh</p>
            {% if page.get_main_image %}
                <figure class="text-center">
                    {% image page.get_main_image.image width-800 as img %}
                    <img src="{{ img.url }}" class="img-fluid" alt="{{ page.get_main_image.caption}}">
                    <figcaption>{{ page.get_main_image.caption }}</figcaption>
                </figure>
            {% endif %}            
            {% for block in page.backstory %}
                {{ block }}
            {% endfor %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <p class="h3">Recept</p>
            {% for block in page.body %}
                <div class="my-4">{{ block }}</div>
            {% endfor %}
        </div>
    </div>

    {% if page.linked_page %}
        <div class="row mt-4">
            <div class="col">
                <p class="h4">Odkaz na přílohu:</p>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="card mb-3 d-flex flex-column flex-md-row">
                {% with recipe=page.linked_page.specific %}
                    {% with backstory_image=recipe.get_main_image.image %}
                        {% if backstory_image %}
                            {% image backstory_image fill-320x240 as img %}
                            <img src="{{ img.url }}" alt="{{ recipe.title }}" class="card-img-top card-img-left" style="width: 267px; height: 200px;">
                        {% endif %}
                    {% endwith %}
                    <div class="card-body flex-grow-1">
                        <p class="h4 card-title">
                            <a href="{% pageurl recipe %}" class="text-dark">{{ recipe.title }}</a>
                        </p>                         
                        <p class="h6 card-subtitle my-1 ">
                            Kategorie: {{ recipe.get_category.title }}
                        </p>
                        <p class="card-text">{{ recipe.introduction }}</p>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center d-flex align-items-center justify-content-center" style="min-height: 100px;">
                        <p class="m-0">Zveřejněno: <br> {{ recipe.date_published }}</p>
                    </div>
                {% endwith %}
            </div>
        </div>
    {% endif %}    

    <div class="text-center">
        {% with gallery_items=page.gallery_images.all %}
            {% if gallery_items %}
                <hr>
                <div class="my-4">
                    <p class="h3 mb-4">Galerie obrázků:</p>
                    <div class="row">
                        {% for item in gallery_items %}
                            <div class="col-md-4 mb-4">
                                {% image item.image width-1280 as full %}
                                <a href="{{ full.url }}" data-lightbox="recipe-gallery" data-title="{{ item.caption }}">
                                    {% image item.image fill-320x240 as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ item.caption }}" class="img-fluid">
                                </a>
                                <p>{{ item.caption }}</p>
                            </div>
                        {% endfor %}                     
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>     
    
    {% if prev_recipe != page or next_recipe != page %}
    <div class="d-flex justify-content-between my-2">
        {% if prev_recipe != page %}
            <a class="btn btn-outline-secondary" href="{{ prev_recipe.url }}">&larr; {{ prev_recipe.title }}</a>
        {% else %}
            <span></span>
        {% endif %}
    
        {% if next_recipe != page %}
            <a class="btn btn-outline-secondary" href="{{ next_recipe.url }}">{{ next_recipe.title }} &rarr;</a>
        {% else %}
            <span></span>        
        {% endif %}
    </div> 
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox.min.js"></script>
{% endblock %}
