{% extends "base.html" %}
{% load static %}
{% load navigation_tags wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block header %}
    {% include 'recipes/recipe_header.html' with page=recipes_index %}
{% endblock %}


{% block content %}
<div class="container pt-0 pb-4 bg-light">

    {% include "base/includes/header-blog.html" %}
    
    <div class="row mt-4">
        <div class="col">
            <p class="h3">Příběh</p>
            {% for block in page.backstory %}
                {{ block }}
            {% endfor %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <p class="h3">Recept</p>
            {% for block in page.body %}
                <div class="my-4">{{ block }}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
