{% extends "base.html" %}
{% load static %}
{% load navigation_tags wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">
{% endblock %}

{% block body_class %}template-recipepage{% endblock %}

{% block header %}
    {% include 'includes/navbar.html' with page=recipe_index_page %}
{% endblock %}


{% block content %}
<div class="container pt-0 pb-4 bg-light">

    <div class="row pb-2">
        <div class="col">
            <p class="h1 my-4">{{ page.subtitle }}</p>
            {% if page.date_published %}
                <p class="text-muted">{{ page.date_published }}</p>
            {% endif %}            
            <p class="h4 text-muted">Kategorie: {{ active_category }}</p>
        </div>
    </div>

    <div class="row text-center">
            {% with tags=page.tags.all %}
            {% if tags %}
                <hr>
                <div class="col">
                    {% for tag in tags %}
                        <a href="{% slugurl 'recepty' %}?tag={{ tag.slug }}" class="btn btn-sm btn-outline-secondary rounded-pill m-1">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <div class="row mt-4">
        <div class="col">
            <p class="h3">Úvod</p>
            <p>{{ page.introduction }}</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            {% if page.get_main_image %}
                <figure class="text-center">
                    {% image page.get_main_image.image width-800 as img %}
                    <img src="{{ img.url }}" class="img-fluid" alt="{{ page.get_main_image.caption}}">
                    <figcaption>{{ page.get_main_image.caption }}</figcaption>
                </figure>
            {% endif %}            
            {% if page.backstory %}
                <p class="h3">Příběh</p>            
                {% for block in page.backstory %}
                    {{ block }}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <p class="h3">Recept</p>
            {% for block in page.body %}
                <div class="my-4">{{ block }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="text-center">
        {% with gallery_items=page.gallery_images.all %}
            {% if gallery_items %}
                <hr>
                <div class="my-4">
                    <p class="h3 mb-4">Galerie obrázků:</p>
                    <div class="row">
                        {% for item in gallery_items %}
                            <div class="col-md-4 mb-4">
                                {% image item.image width-800 as full %}
                                <a href="{{ full.url }}" data-lightbox="recipe-gallery" data-title="{{ item.caption }}">
                                    {% image item.image fill-480x360 as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ item.caption }}" class="img-fluid">
                                </a>
                                <p>{{ item.caption }}</p>
                            </div>
                        {% endfor %}                     
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>     
    
    {% if prev_recipe != page or next_recipe != page %}
    <div class="d-flex justify-content-between my-2">
        {% if prev_recipe != page %}
            <a class="btn btn-outline-secondary" href="{{ prev_recipe.url }}">&larr; {{ prev_recipe.title }}</a>
        {% else %}
            <span></span>
        {% endif %}
    
        {% if next_recipe != page %}
            <a class="btn btn-outline-secondary" href="{{ next_recipe.url }}">{{ next_recipe.title }} &rarr;</a>
        {% else %}
            <span></span>        
        {% endif %}
    </div> 
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox.min.js"></script>
{% endblock %}
