/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    margin-bottom: 1.2em;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header Styles */
.header-background {
    background-size: cover;
    background-position: center;
    height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 0.5em;
    background-color: rgba(0,0,0,0.5); /* Dark overlay for better text visibility */
}

/* Blog Index Page Styles */
.template-blogindexpage h1 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 3em;
    color: #222;
}

.template-blogindexpage .intro {
    max-width: 1024px;
    margin: 0 auto 1em;
    padding: 0 0.5em;
    font-size: 1.2em;
    text-align: center;
}

.template-blogindexpage .post-list {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.template-blogindexpage .post-list h2 a {
    text-decoration: none;
    color: #444;
    transition: color 0.2s ease;
}

.template-blogindexpage .post-list h2 a:hover {
    color: #007bff;
}

.template-blogindexpage .post-list h4,
.template-blogindexpage .post-list h6 {
    color: #888;
    margin: 0;
    margin-bottom: 1em;
}

.template-blogindexpage .post-list article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    padding: 1.5em;
    transition: box-shadow 0.2s ease;
}

.template-blogindexpage .post-list article:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.template-blogindexpage .content {
    max-width: 1024px;
    margin: 2em auto;
    padding: 0 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
}

/* Blog Page Styles */
.template-blogpage h1 {
    text-align: center;
    margin-top: 0.5em;
    font-size: 3em;
    color: #222;
}

.template-blogpage .meta {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-style: italic;
    color: #888;
    font-size: 1.1em; /* Larger font for metadata */
}

.template-blogpage .intro {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1.5em;
    font-size: 1.2em;
    text-align: center;
}

.template-blogpage .content {
    max-width: 1024px;
    margin: 2em auto;
    padding: 0 1.5em;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
}

/* Blog Tag Index Page Styles */
.template-blogtagindexpage h2 {
    text-align: center;
    margin-top: 0.5em;
    font-size: 2em;
    color: #222;
}

.template-blogtagindexpage .content {
    max-width: 1024px;
    margin: 2em auto;
    padding: 0 1.5em;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;  
    background-color: #F5F5F5;
}

.gallery-container div {
    margin: 10px;
}

.template-blogpage .return-link {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    text-decoration: none;
    color: #007bff;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    max-width: 300px; 
}

.template-blogpage .return-link:hover {
    color: #0056b3;
    background-color: #EEEEEE;
    text-decoration: underline;
}

.tags button {
    background-color: gray; /* Primární barva tlačítka */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tags button:hover {
    background-color: #0056b3; /* Tmavší odstín pro hover efekt */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stín pro hover efekt */
}

.tags button:active {
    background-color: #004494; /* Ještě tmavší odstín pro aktivní stav */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Menší stín pro aktivní stav */
}

.template-homepage .content {
    max-width: 1024px;
    margin: 2em auto;
    padding: 0 1.5em;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
}

.template-homepage .intro {
    max-width: 1024px;
    margin: 0 auto 1em;
    padding: 0 0.5em;
    font-size: 1.2em;
    text-align: center;
}

footer {
    background-color: #333; /* Tmavé pozadí */
    color: #fff; /* Bílý text */
    padding: 20px;
    text-align: center; /* Vycentrovaný text */
}

footer a {
    color: #4CAF50; /* Zelené odkazy */
    text-decoration: none; /* Bez podtržení */
    margin: 0 10px; /* Mezery mezi odkazy */
}

footer a:hover {
    text-decoration: underline; /* Podtržení při hoveru */
}

footer p {
    margin: 10px 0; /* Horní a dolní okraje */
}
