{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block header %}
    <div class="text-center">
        {% if blog_index.image %}
            {% image blog_index.image max-1280x1280 as img %}
            <img src="{{ img.url }}" alt="{{ blog_index.title }}" class="img-fluid mb-3 d-block mx-auto">
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="text-center">{{ page.title }}</h1>
        <p class="meta text-center text-muted">{{ page.date }}</p>
        <div class="intro text-center">{{ page.intro|richtext }}</div>   

        {% with page.main_image as main_image %}
            {% if main_image %}
                {% image main_image fill-1024x768 as img %}
                <img src="{{ img.url }}" alt="{{ page.title }}" class="img-fluid my-4 d-block mx-auto">
            {% endif %}
        {% endwith %}

        <div>{{ page.body|richtext }}</div>

        {% with tags=page.tags.all %}
            {% if tags %}
                <div class="tags my-4">
                    <h3>Tagy:</h3>
                    {% for tag in tags %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="btn btn-secondary m-1">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% with gallery_items=page.gallery_images.all %}
            {% if gallery_items %}
                <div class="my-4">
                    <h3>Galerie obrázků:</h3>
                    <div class="row">
                        {% for item in gallery_items %}
                            <div class="col-md-4 mb-4">
                                {% image item.image fill-320x240 as img %}
                                <img src="{{ img.url }}" alt="{{ item.caption }}" class="img-fluid">
                                <p>{{ item.caption }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% with authors=page.authors.all %}
            {% if authors %}
                <div class="my-4">
                    <h3>Vytvořil:</h3>
                    <ul class="list-unstyled">
                        {% for author in authors %}
                            <li class="media my-2">
                                {% image author.author_image fill-40x60 as img %}
                                <img src="{{ img.url }}" alt="{{ author.name }}" class="mr-3 img-fluid">
                                <div class="media-body">
                                    {{ author.name }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <p class="text-center my-4">
            <a href="{{ page.get_parent.url }}" class="btn btn-primary">Návrat do seznamu blogů</a>
        </p>
    </div>
{% endblock %}
