{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block header %}
    <div class="container bg-dark">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{% slugurl 'blog' %}">Zdivočelá veterinářka</a>
            </nav>
        </div>
        <div class="row">
            <div class="col text-center">
                {% if page.image %}
                    {% image page.image max-1280x1280 as img %}
                    <img src="{{ img.url }}" alt="{{ page.title }}" class="img-fluid mb-3 d-block mx-auto">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-12 text-center bg-light py-2 mt-0 mb-3">
                <p class="h1">{{ page.title }}</p>  
                <p>{{ page.intro|richtext }}</p>
            </div>
        </div>
        
        <div class="row bg-light pt-3">
            {% for post in blogpages %}
                <div class="col-md-4 mb-4">
                    <div class="card text-center h-100">
                        {% with post=post.specific %}
                            {% if post.main_image %}
                                {% image post.main_image fill-320x240 as img %}
                                <img src="{{ img.url }}" alt="{{ post.title }}" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% pageurl post %}" class="text-dark">{{ post.title }}</a>
                                </h5>
                                <p class="text-muted">{{ post.blog_nr }}. blog</p>                                
                                <p class="card-text">{{ post.intro }}</p>
                            </div>
                            <div class="card-footer bg-secondary text-white pt-3 pb-0">
                                <p>Zveřejněno: {{ post.date }}</p>
                            </div>
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
